body {
  margin: 0;
  background-color: #181e24;
  /* Hide the scrollbar for the entire page */
}

body::-webkit-scrollbar {
  display: none;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
